@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url("../Assets/images/background.jpg");
}

::-webkit-scrollbar {
    width: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: white;
}

/* Add margin to the scrollbar */
::-webkit-scrollbar {
    margin-left: 10px;
}